body {
    margin: 0px;
    padding: 0px;
}

.firstNav {
    position: fixed;
    background-color: rgb(128, 25, 207);
    height: 55px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondNav {
    height: 79px;
    width: 100%;
    position: fixed;
    margin-top: 51px;
    box-shadow: 0px 0.1px 3px gray;
    display: flex;
    align-items: center;
}

.Personal-Blogging-App-txt {
    margin-left: 99px;
    font-size: 29px;
}

#whichThing {
    font-size: 35px;
    font-weight: 600;
    margin-left: 99px;
}

.nextWhichThing {
    font-size: 19px;
    margin-right: 99px;
    cursor: pointer;
}

.container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#sign-up {
    margin-top: 99px;
    box-shadow: 1px 1px 7px black;
    height: 379px;
    width: 389px;
    display: block;
}

#sign-in {
    margin-top: 99px;
    box-shadow: 1px 1px 7px black;
    height: 219px;
    width: 389px;
    display: none;
}

input {
    display: block;
    margin: 0 auto;
    width: 209px;
    height: 29px;
    border-radius: 9px;
    padding: 1px 9px;
    box-shadow: none;
    border: 1px solid rgb(98, 94, 94);
    outline: none;
}

#sign-up-btn {
    display: block;
    margin: 0 auto;
    width: 79px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: rgb(128, 25, 207);
    outline: none;
    border: none;
    cursor: pointer;
}

.txt {
    text-align: center;
    font-size: 18px;
}


#sign-in-btn {
    display: block;
    margin: 0 auto;
    width: 79px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: rgb(128, 25, 207);
    outline: none;
    border: none;
    cursor: pointer;
}


#Blog-app-container {
    display: none;
    text-align: center;
}



#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {

    width: 191px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, rgb(128, 25, 207) 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, rgb(128, 25, 207));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 25px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}